/*!
Theme Name: combate
Theme URI: http://jucamillo.com.br/
Author: JuCamillo Web Co
Author URI: http://jucamillo.com.br/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: combate
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

combate is based on JuCamillo

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1280px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}

.vc_section{
	margin: 0 !important;
	padding: 0 !important;
}

.miolo-site > * > .vc_row,
.vc_section > .vc_row,
.container{
    width: 1140px !important;
    margin: 0 auto !important;
}
header .container{
    width: calc(100% - 100px) !important;
}
body{
    margin: 0;
    color: #7E859E;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

input, button, select, textarea{
    color: #7E859E;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0 0 15px;
}
ul,
ol,
li{
	margin: 0;
	padding: 0;
}
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
	margin: 0 !important;
}
*:after,*:before{
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;

}

section,
footer,
header{
    float: left;
    width: 100%;
}
.miolo-site > * > section.vc_section {
    padding: 100px 0 !important;
}
.revert .vc_col-sm-6:first-child{
	float: right;
}
.five-col .vc_col-sm-2:nth-child(6){
	display: none;
}
.five-col .vc_col-sm-2{
	width: 20% !important;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
}
header.scroll{
    background: #fff;

}
header.scroll .border{
    padding: 10px 0;
}
header .border{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #DCDEE4;

}

header nav.main-navigation ul{
	flex-flow: column;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav.main-navigation .menu-toggle{
	display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    padding: 0;
    font-weight: 600;   
    color: #04144C;
    background: transparent;
    cursor: pointer;
}
header nav.main-navigation .menu-toggle span{
    margin-left: 15px;
}
header nav.main-navigation .menu-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 705px;
    background: #fff;
    min-height: 100vh;
    transform: translateX(-120%);
    /* Firefox */
    -moz-transition: all .8s ease;
    /* WebKit */
    -webkit-transition: all .8s ease;
    /* Opera */
    -o-transition: all .8s ease;
    /* Standard */
    transition: all .8s ease;

    -webkit-box-shadow: 5px 0px 5px 0px rgba(243,244,246,1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(243,244,246,1);
    box-shadow: 5px 0px 5px 0px rgba(243,244,246,1);
}
header nav.main-navigation .menu-content button.close-btn{
    border:0;
    padding: 0;
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;

}
header nav.main-navigation .menu-content .shield{
    position: absolute;
    width: 350px;
    height: auto;
    position: absolute;
    pointer-events: none;
    right: 60px;
    top: 125px;
}
header nav.main-navigation .menu-content ul.menu{
    font-family: PT Serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #ADB2C1;
    margin: 200px 0 0 0;
}
@media(max-height: 800px){
    header nav.main-navigation .menu-content ul.menu{
        margin-top: 80px;
    }
    header nav.main-navigation .menu-content .shield{
        top: 45px;
    }

}
a#cookie_action_close_header,
header .btn{
    background: #FFB61D !important;
    height: 45px !important;
    line-height: 41px !important;
    font-size: 12px !important;
    color: #071239 !important;
    padding: 0 30px !important;
    border-radius: 30px !important;
    border:2px solid #FFB61D !important;
}
a#cookie_action_close_header:hover,
header .btn:hover{
    background: transparent !important;
}
header nav.main-navigation .menu-content ul.menu a{
    padding: 12px 115px;
    float: left;
    width: 100%;
}
header nav.main-navigation .menu-content ul.redes_sociais a{
    padding: 5px;
    float: left;
}

header nav.main-navigation .menu-content ul.redes_sociais{
    flex-flow: row;
    font-size: 20px;
    margin-bottom: 20px;
}
header nav.main-navigation .menu-content ul.redes_sociais li + li{
    margin-left: 35px;
}
header nav.main-navigation .menu-content .bottom{
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 0 115px;

    font-weight: 600;
    font-size: 12px;
    color: #ADB2C1;
}
header nav.main-navigation .menu-content ul.menu li.current-menu-item a{    
    color: #04144C;
    position: relative;
}
header nav.main-navigation .menu-content ul.menu li.current-menu-item a:before{
    content: '';
    left: 0;
    width: 90px;
    top: 50%;
    background: #FFB61D;
    position: absolute;
    height: 1px;
}



header nav.main-navigation .menu-content ul.menu li.current-menu-item#menu-item-41 a{
    color: #ADB2C1;    
}
header nav.main-navigation .menu-content ul.menu li.current-menu-item#menu-item-41 a:before{
    display: none;
}


header nav.main-navigation .menu-content ul.menu li a:hover{   
    color: #04144C !important;

}



header nav.main-navigation.toggled .menu-content{
    transform: translateX(0%);
}
.miolo-site > * > section.vc_section#banner-home{
    padding:110px 0 0 !important;
    height: 100vh !important;
    font-size: 28px;
}
.miolo-site > * > section.vc_section#banner-home:before{
    content: '';
    width: 100vw;
    height: calc(100vh - 150px);
    top: 0;
    left: 0;
    right: 0;
    background: #F3F4F6;
    position: absolute;
}

.miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 260px);
}


.miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    display: flex;
    align-items: center;
}

.miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(3){
    position: static;
    width: 100% !important;
}
.miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(3) *{
    position: static;
    padding: 0 !important;
    margin: 0 !important;
}
#banner-home .wpb_gallery_slides{
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 56% !important;
    height: 100vh !important;
    pointer-events: none;
}
#banner-home .wpb_gallery_slides:after{
    content: '';
    display: block;
    height: 150px;
    width: 100%;
    background: #FFB61D;
    position: absolute;
    right: 0;
    bottom: 0;
}
#banner-home ul.wpb_image_grid_ul{
    height: auto !important;
}
#banner-home ul.wpb_image_grid_ul li{
    top: auto !important;
    left: auto !important;
    position: relative !important;
    width: 100% !important;
    height: 100vh !important;
    /*
    right: 0 !important;
    bottom: 0 !important;*/
    display: flex !important;
    justify-content: center !important;
    align-items: flex-end !important;
}
#banner-home ul.wpb_image_grid_ul li img{
    width:  auto !important;
    height: auto !important;
    max-width: 100% !important;


    /* Firefox */
    -moz-transition: all 1.4s ease;
    /* WebKit */
    -webkit-transition: all 1.4s ease;
    /* Opera */
    -o-transition: all 1.4s ease;
    /* Standard */
    transition: all 1.4s ease;
    opacity: 0;
}

#banner-home ul.wpb_image_grid_ul .active li img{
    opacity: 1;
}
h1{
    font-family: PT Serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 1.2;
    color: #071239;
    padding: 0;
    margin: 0 0 25px;
}
h1 strong{
    color:  #FFB61D;
    font-weight: normal;
}

h4{
    margin: 0 0 15px;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.scroll h4{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 !important;
    float: left;
    height: 30px;
}
.scroll h4:before{
    content: '';
    width: 1px;
    height: 130px;
    left: 10px;
    top: -15px;
    background: #CCCFDD;
    transform: translateY(-100%);
    position: absolute;
}


@media(max-height: 870px){
    .scroll h4:before{
        height: 80px;
    }
}
@media(max-height: 750px){
    .scroll h4:before{
        height: 70px;
    }
    h1{
        font-size: 66px
    }
    .miolo-site > * > section.vc_section#banner-home{
        font-size: 24px;
    }
}
@media(max-height: 700px){
    .scroll h4:before{
        height: 50px;
    }
}
@media(max-height: 680px){
    .scroll h4:before{
        height: 40px;
    }
}

@media(max-height: 660px){
    #banner-home h4 {
        margin: 0 0 5px;
        font-size: 10px;
    }
    #banner-home h1 {
        font-size: 36px;
        margin: 0 0 10px;
    }
    .miolo-site > * > section.vc_section#banner-home {
        font-size: 14px;
    }
    #banner-home .vc_btn3-container {
        margin-top: 10px !important;
    }
    .scroll h4:before{
        height: 40px;
    }
    .miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(1){
        height: calc(100vh - 200px);
        padding-bottom: 30px;
    }
    .miolo-site > * > section.vc_section#banner-home:before{
        height: calc(100vh - 100px);
    }
    #banner-home .wpb_gallery_slides:after,
    .miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(2){
        height: 100px;
    }
}
.scroll h4 em{
    font-style: normal;
    margin-left: 30px;
}

.vc_btn3-container{
    margin: 24px 0 0 0 !important;
}

ul.servicos .btn,
.vc_btn3-container > *{
    color: #04144C !important;
    background: #FFB61D !important;
    border:2px solid #FFB61D !important;
    line-height: 1 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 15px 35px !important;
    border-radius: 30px !important;
    display: flex !important;
    align-items: center !important;

}
.vc_btn3-container.mail > *{
    border-color: #DCDEE4 !important;
    background: #fff !important;
}
.vc_btn3-container.mail > *:hover{
    background: #DCDEE4 !important;
}



.vc_btn3-container > * svg{
    margin-right: 10px;
}
ul.servicos .btn:hover,
.vc_btn3-container > *:hover{
    background: transparent !important;
}

#banner-home .vc_btn3-container > *{
    background: #04144C !important;
    color: #FFFFFF !important;
    border-color:#04144C !important;
}
#banner-home .vc_btn3-container > *:hover{
    background-color: transparent !important;
    color: #04144C !important;
}
#banner-home .vc_btn3-container.video-btn{
    margin-left: 24px !important
}
#banner-home .vc_btn3-container.video-btn > *{
    background: transparent !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    color: #7E859E !important;
    border:0 !important;
    background-image: url(images/play.svg) !important;
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
    background-position: left center !important;
    padding: 22px 35px 22px 70px !important;
    margin-top: -3.5px !important;
}
#banner-home .vc_btn3-container.video-btn > *:hover{
    color: #04144C !important;
}
.vc_section#banner-home .vc_row + .vc_row{
    margin-top: 0 !important;
}
.vc_section .vc_row + .vc_row{
    margin-top: 45px !important;
}


h2{
    font-family: PT Serif;
    font-weight: normal;
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: #071239;
}

h2 strong{
    color:  #FFB61D;
    font-weight: normal;
}
h3{
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: #04144C;
}

.font-big{
    font-size: 20px;
}

ul.servicos-img,
ul.servicos{
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 0;
    float: left;
    padding: 0;
    width: calc(50% - 15px);
    font-size: 20px;
    color: #071239;
}
ul.servicos h3{
    font-family: PT Serif;
    font-weight: bold;
    font-size: 32px;
    color:  #ADB2C1;
    margin: 0;
    line-height: 1.2;
}
ul.servicos .btn{
    margin-top: 5px;
    float: left;
}
ul.servicos .btn:hover{
    background: transparent;
}

ul.servicos li{
    margin-top:45px;
    position: relative !important;
}
ul.servicos li .spin {
    width: 24px !important;
    height: 24px !important;
    position: absolute !important;
    left: -30px;
    top: 10px;
    display: none;
}
ul.servicos .info{
    overflow: hidden;
    height: 0;
}

ul.servicos li.active h3{
    color: #04144C; 
    margin-bottom: 15px;   
}
ul.servicos li.active .spin{
    display: block;
}

ul.servicos li.active .info{
    height: auto;
}

#servicos-row *{
    position: static;
}
#servicos-row{
    position: relative;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos-row ul.servicos-img{
    position: absolute;
    left: 50%;
    width: 50vw;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
#servicos-row ul.servicos-img li{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* Firefox */
    -moz-transition: all 1.4s ease;
    /* WebKit */
    -webkit-transition: all 1.4s ease;
    /* Opera */
    -o-transition: all 1.4s ease;
    /* Standard */
    transition: all 1.4s ease;
    opacity: 0;
}

ul.servicos-img li svg,
ul.servicos-img li img{
    width:  auto !important;
    height: auto !important;
    max-width: 100% !important;


}

#servicos-row ul.servicos-img .active li,
#servicos-row ul.servicos-img .active  li{
    opacity: 1;
}

.miolo-site > * > section.vc_section#pulse-section > .vc_row {
    width: 100% !important;
    max-width: 100% !important;
}
.miolo-site > * > section.vc_section#pulse-section > .vc_row > * > * {
    padding: 0 !important;
}
#pulse-section .wpb_single_image > * > * > *,
#pulse-section .wpb_single_image > * > *,
#pulse-section .wpb_single_image > *,
#pulse-section .wpb_single_image {
    width: 100% !important;
    height: auto !important;
}
#pulse-section .wpb_text_column{
    position: absolute;
    top: 45.5%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;

}
#pulse-section{
    position: relative;
}

#pulse-section:before {
    content: '';
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    background: #FFB61D;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 150px;
    width: 150px;
    transform: scale(1);
}
#pulse-section div#pulse {
    position: absolute;
    z-index: -1;
    top: calc(50% - 685px);
    left: calc(50% - 645px);
    width: 1310px !important;
    height: 1310px !important;
}

#pulse-section div#pulse2 {
    position: absolute;
    z-index: -1;
    top: calc(50% - 685px);
    left: calc(50% - 645px);
    width: 1310px !important;
    height: 1310px !important;
    opacity: 0;
}




@keyframes inOutFresh {
    0% {
        opacity: 1;
        transform: scale(.3);
    }
    99% {
        transform: scale(2.5);
    }
    100%{
        opacity: 0;
        transform: scale(.3);
    }
}

#pulse-section div#pulse{
    animation: inOutFresh 8s infinite .5s;
}


@keyframes inOut {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    5% {
        opacity: 1;
        transform: scale(.3);
    }
    99% {
        transform: scale(2.5);
    }
    100%{
        opacity: 0;
        transform: scale(.3);
    }
}
#pulse-section div#pulse2{
    animation: inOut 8s infinite 4s;
}

#parceiro h2{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 1.4;

}
#parceiro .vc_btn3-container{
    margin-top: 60px !important;
}
#parceiro .vc_btn3-container > *{
    background: #fff !important;
    border-color: #fff !important;
}
#parceiro .vc_btn3-container > *:hover{
    background: transparent !important;
    color: #fff !important;
}
.miolo-site > * > section.vc_section#pulse-section {
    position: relative;
    padding-bottom: 0 !important;
    overflow: hidden;
    margin-bottom: -100px !important;
}
.miolo-site > * > section.vc_section#parceiro{
    padding-top: 130px !important;
    padding-bottom: 130px !important;
}

.miolo-site > * > section.vc_section#contato{
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    min-height: 910px !important;
    padding: 280px 0 0 !important;
    margin-top: -150px !important;
    position: relative !important; 
    position: relative;
}
.miolo-site > * > section.vc_section#contato:before{
    content: '';
    width: 40%;
    max-width: 600px;
    right: 0;
    bottom: 0;
    top: 70px;
    background: #FFB61D;
    position: absolute;
    z-index: 1;

}
.miolo-site > * > section.vc_section#contato *{
    position: static;
}

.miolo-site > * > section.vc_section#contato .mulher-rt{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#contato .vc_row .vc_row .wpb_wrapper  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 !important;
}
#contato .vc_btn3-container{
    margin: 0 !important;
}

#contato .vc_row .vc_row .wpb_text_column {
    margin: 0 20px !important;
}
.miolo-site > * > section.vc_section#contato h2 {
    margin: 0 0 30px !important;
}

#contato .vc_separator + .wpb_text_column {
    margin: 50px 0 0 0 !important;
}
#contato .vc_separator + .wpb_text_column a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    color: #7E859E;
}
#contato .vc_separator + .wpb_text_column a:hover{
    text-decoration: none;
}

footer{
    padding: 50px 0;
    background: #F3F4F6;
}
footer .col-xs-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #04144C;
}
footer .col-xs-12 ul.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #7E859E;
    list-style: none;
    font-weight: bold;
}
footer .col-xs-12 ul.menu li{
    margin: 0 15px;
}
footer svg *{
    fill: #B7B8C5;
}
footer a.sign{

}
footer a.feito {
    margin:0;
    display: flex;
    overflow: hidden;
    width: 100px;
}
footer a.feito .size {
    width: 160px;
}
footer a.feito svg, footer a.feito img {
    max-width: 500px !important;
    width: 160px;
}
footer a.feito:hover {
    width: 160px;
}


body:not(.home) h1{
    font-size: 48px;
}

body:not(.home).page-sobre-nos h1{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4;
    margin: 0 0 70px !important;
}

body:not(.home) .miolo-site > * > section.vc_section:first-child{
    padding-top: 209px !important;
}
.miolo-site > * > section.vc_section > #galeria{
    width: 100% !important;
    margin-top: 100px !important;
}
.miolo-site > * > section.vc_section > #galeria *{
    padding: 0 !important;
}


.miolo-site > * > section.vc_section > #galeria img,
.miolo-site > * > section.vc_section > #galeria svg{
    width: 100% !important;
    height: auto !important;

}

.miolo-site > * > section.vc_section > #galeria figure, 

.miolo-site > * > section.vc_section > #galeria figure > * {
    width: 100%;
}


body.page-sobre-nos .miolo-site > * > section.vc_section:first-child{
    background: rgb(240,243,246);
    background: -moz-linear-gradient(0deg, rgba(240,243,246,1) 0%, rgba(240,243,246,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(240,243,246,1) 0%, rgba(240,243,246,0) 100%);
    background: linear-gradient(0deg, rgba(240,243,246,1) 0%, rgba(240,243,246,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f3f6",endColorstr="#f0f3f6",GradientType=1);
}
#val-ttl{
    margin-top: 120px !important;
}

.font-big2 p{
    font-size: 40px;
    color: #082745;

}
#valores h3{
    font-size: 18px;
    margin: 40px 0 15px !important;
}
.vc_section > .vc_row#valores {
    width: 1110px !important;
    background: #fff !important;
}
.vc_section > .vc_row#valores > * > .vc_column-inner {
    padding: 35px 25px 50px !important;
}
.vc_section > .vc_row#valores > * + *{
    border-left: 1px solid #DFE5E9;
}
.miolo-site > * > section.vc_section#depoimentos {
    background-repeat: no-repeat !important;
    background-position: right top !important;
    background-size: auto 100% !important;
}


ul.depoimentos{
    list-style: none;
    margin:50px 0 0 0;
    padding-top: 0;
    text-align: center;
}
ul.depoimentos li{
    padding: 0 10%;
}
ul.depoimentos blockquote{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
}


ul.depoimentos .nome{
    font-size: 14px;
    color: #CCCFDD;
    margin: 20px 0 0 0;
}
ul.depoimentos .nome strong{
    color: #FFB61D;
}

ul.depoimentos .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0 0 0 !important;
}
ul.depoimentos .owl-dots button{
    width: 8px !important;
    height: 8px !important;
    border-radius: 10px !important;
    margin: 0 2px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border:0 !important;
}
ul.depoimentos .owl-dots button.active{
    background: #FFB61D !important;
}


body.single-servico .vc_separator {
    margin: 55px 0 !important;
}
body.single-servico h2{
    font-family: PT Serif;
    font-weight: bold;
    font-size: 32px;
    color: #071239;
    margin-bottom: 20px !important;
}
body.single-servico .font-big.cor{
    color: #071239;
}
body.single-servico .vc_row .wpb_single_image{
    margin: 60px 0 !important;
}
body.single-servico .miolo-site > * > section.vc_section#contato {
    margin-top: 0 !important;
    padding-top: 220px !important;
}

body.single-servico section.vc_section#contato:after {
    content: '';
    width: 65%;
    top: 70px;
    right:  0;
    height: 1px;
    background: #dcdee4;
    position: absolute;
    z-index: 1;
}

body.single-servico .miolo-site > * > section.vc_section#contato .mulher-rt{
    margin: 0 !important;
}
body.single-servico header nav.main-navigation .menu-content ul.menu li#menu-item-41 a{  
    color: #04144C !important;
    position: relative;
}
body.single-servico header nav.main-navigation .menu-content ul.menu li#menu-item-41 a:before{
    display: block !important;
    content: '' !important;
    left: 0;
    width: 90px;
    top: 50%;
    background: #FFB61D;
    position: absolute;
    height: 1px;
}

.codedropz-upload-handler {
    border-radius: 0 !important;
    border-color: #DCDEE4 !important;
    font-size: 14px;
    border:0 !important;
}

.codedropz-upload-handler h5 {
    color: #04144C;
    font-size: 16px;
    display: none;
}
span.dnd-upload-counter,
.codedropz-upload-handler h5 + span{
    display: none;
}
.codedropz-upload-container{
    padding: 0 !important;
}
.codedropz-upload-handler .cd-upload-btn{
    background: #FFB61D;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    color: #04144C;
    font-weight: bold;
    cursor: pointer;
    border:2px solid #FFB61D;
}
.codedropz-upload-handler .cd-upload-btn:hover{
    background: transparent !important;
}
.dnd-upload-status .dnd-upload-image {
    position: relative !important;
}
.dnd-upload-status .dnd-upload-image span {
    position: absolute !important;
}
form.wpcf7-form{
    display: block;
    width: 100%;
    margin: 25px 0 0 0;
}
.wpcf7-form-control-wrap{
    width: 100%;
    margin: 0 0 15px;
    display: block;
}
.wpcf7-form-control-wrap select,
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea{
    width: 100%;
    border: 1px solid #DCDEE4;
    border-radius: 8px;
    height: 55px;
    padding: 0 15px;
}
.wpcf7-form-control-wrap textarea{
    padding: 15px;
    height: 160px;
}
form.wpcf7-form input.wpcf7-form-control.wpcf7-submit{
    background: #DCDEE4;
    border-radius: 8px;
    color: #ADB2C1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-weight: 700;

    border:0;
    cursor: pointer;
    width: 100%;
}
.dnd-upload-status {
    font-size: 14px;
}
.page-trabalhe-conosco section.vc_section * {
    position: static;
}
.page-trabalhe-conosco section.vc_section{
    position: relative;
}
.page-contato section.vc_section > *,
.page-seja-um-parceiro section.vc_section > *,
.page-solicite-um-orcamento section.vc_section > *,
.page-trabalhe-conosco section.vc_section > *{
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
}
.page-contato section.vc_section > *:before,
.page-contato section.vc_section > *:after,
.page-seja-um-parceiro section.vc_section > *:before,
.page-seja-um-parceiro section.vc_section > *:after,
.page-solicite-um-orcamento section.vc_section > *:before,
.page-trabalhe-conosco section.vc_section > *:before,
.page-solicite-um-orcamento section.vc_section > *:after,
.page-trabalhe-conosco section.vc_section > *:after{
    display: none;
}
.page-trabalhe-conosco section.vc_section .img-trabalhe {
    position: absolute;
    width: 50vw;
    height: auto !important;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 50%;
}
.page-trabalhe-conosco section.vc_section .img-trabalhe *{
    display: flex;
}


.page-solicite-um-orcamento h3{
    font-family: PT Serif;
    font-size: 32px;
    margin-top: 0 !important;
    line-height: 1.2;
}
.page-solicite-um-orcamento h4{
    margin-bottom: 0 !important;
    margin-top: 40px !important;
}
form.wpcf7-form{
    display: flex;
    flex-flow: wrap;
}
form.wpcf7-form p{
    width: 100%;
}
form.wpcf7-form .col {
    width: calc(50% - 8px);
    float: left;
}
form.wpcf7-form .col:nth-child(odd){
    margin-left: 16px;
}
form.wpcf7-form br{
    display: none;
}
.wpcf7 form .wpcf7-response-output {
    width: 100%;
    margin: 0;
    padding: 2px 5px;
}

form.wpcf7-form fieldset {
    border: 0;
    padding: 0;
    width: 100%;
    margin: 0 0 25px;
}
form.wpcf7-form fieldset legend{
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 15px;
}



.page-seja-um-parceiro h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 15px;
    color: #071239;
}
.page-contato h2{
    color: #fff;
    line-height: 1.1;
}
.page-contato .vc_section{
    position: relative;
}
.page-contato .vc_section:before {
    width: 50vw;
    position: absolute;
    left: 50%;
    background: #071239;
    content: '';
    top: 109px;
    bottom: 0;
}
.page-contato .vc_section > * > *:nth-child(2) > *{
    padding: 0 0 0 100px;
    color: #fff;
}
.page-contato .vc_section > * > *:nth-child(2) h4{
    color: #7E859E;
    margin: 0 0 5px;
}
.page-contato .vc_section address{
    font-style: normal;
}
.vc_row.cidade{
    display: none;
    flex-flow: wrap;
}
.vc_row.cidade.active {
    display: flex;
}
.vc_row.cidade > *{
    margin-top: 30px;
}

.page-contato .vc_section > * > *:nth-child(2) select{
    border: 1px solid #CCCFDD;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    color: #FFB61D;
    padding: 0 15px;
    height: 55px;
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
.cidade .wpb_gmaps_widget {
    width: calc(50vw - 100px);
}
.cidade .wpb_gmaps_widget > *{
    border:0 !important;
    padding: 0 !important;
}
.cidade .wpb_gmaps_widget iframe {
    height: 230px;
}

.vc_row.cidade > .vc_col-sm-12{
    margin-top: 50px;
}
.desktop-img{

}
.mobile-img{
    display: none;
}
#banner-home ul.wpb_image_grid_ul li img {
    max-height: 100vh !important;
}





.free-img ul.wpb_image_grid_ul {
    height: auto !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.free-img ul.wpb_image_grid_ul li {
    margin: 0 !important;
    left: auto !important;
    top: auto !important;
    position: absolute !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(1){
        left: 23% !important;
    top: 10% !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(2){
    
    left: 58% !important;
    top: 4% !important;
}

.free-img ul.wpb_image_grid_ul li:nth-child(3) {
    left: auto !important;
    right: 0 !important;
    top: 3% !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(4) {
    top: 30% !important;
    left: 0 !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(5) {
    top: 80% !important;
    left: 0 !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(6) {
    top: 74% !important;
    left: 21% !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(7) {
    left: 59% !important;
    top: 81% !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(8) {
    left: 77% !important;
    top: 73% !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(9) {
    top: 62% !important;
    left: auto !important;
    right: 0 !important;
}
.free-img ul.wpb_image_grid_ul li:nth-child(10) {
    left: 78% !important;
    top: 34% !important;
}

.free-img ul.wpb_image_grid_ul li:nth-child(11){
    display: none !important;
    left: 0% !important;
    top: 0% !important;
}


#pulse-section .desktop-img{
    opacity: 0 !important;
}

body {
   height: 100%;
}

.select2-container--default .select2-selection--single {
    background: transparent !important;
    border: 1px solid #CCCFDD !important;
    border-radius: 5px !important;
    height: 55px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 53px !important;
    line-height: 53px !important;
    color: #FFB61D !important;
    font-size: 16px !important;
    font-weight: normal !important;
    padding: 0 0 0 15px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 51px !important;
    right: 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #CCCFDD transparent transparent transparent !important;
    border-style: solid !important;
    border-width: 7px 5px 0 5px !important;
}
.select2-search--dropdown {
    display: none !important;
}
.select2-dropdown {
    background: #071239 !important;
    border-color: #CCCFDD !important;
    border-radius:0 0 5px 5px !important;
}
.select2-results__option {
    font-size: 16px !important;
    padding: 15px !important;
    color: #FFB61D !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #FFB61D !important;
    color: #071239 !important;
}
.select2-container--open span.select2-selection.select2-selection--single {
    border-radius: 5px 5px 0 0 !important;
}
.select2-container--default .select2-results__option--selected{
    background-color: transparent !important;
}
.page-contato .wpb_raw_code.wpb_content_element.wpb_raw_html {
    margin-top: 20px !important;
}

.page-solicite-um-orcamento .select2-container--default .select2-selection--single{
    border-color: #DCDEE4 !important;
}

.page-solicite-um-orcamento .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #7E859E !important;
}

.page-solicite-um-orcamento .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #071239 transparent transparent transparent !important;
}

.page-solicite-um-orcamento .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background: #071239 !important;
    color: #fff !important;
}

.page-solicite-um-orcamento .select2-results__option{
    color: #7E859E !important;
}

.page-solicite-um-orcamento .select2-dropdown{
    border-color: #DCDEE4 !important;
    background: #fff !important;
}
.wpb_text_column.telefone-info#desktop{
    display: block;
}
.wpb_text_column.telefone-info#mobile{
    display: none;
}
@media(max-width: 1439px){
    .miolo-site > * > section.vc_section#banner-home{
        font-size: 16px;
    }
    h1{
        font-size: 58px;
    }
    #banner-home ul.wpb_image_grid_ul li{
        justify-content: flex-end !important;
    }
    .miolo-site > * > section.vc_section#contato .mulher-rt img {
        width: auto;
        height: 800px;
    }
    .miolo-site > * > section.vc_section#contato {
        min-height: 800px !important;
        padding: 230px 0 0 !important;
    }
    #banner-home ul.wpb_image_grid_ul li img {
        max-height: 100vh !important;
    }
    .font-big2 p{
        font-size: 30px;
    }

    .free-img ul.wpb_image_grid_ul li svg circle{
        transform: scale(.7);
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(5),
    .free-img ul.wpb_image_grid_ul li:nth-child(4){
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }

    .free-img ul.wpb_image_grid_ul li:nth-child(9),
    .free-img ul.wpb_image_grid_ul li:nth-child(3){
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }
}
@media(max-width: 1199px){

    .miolo-site > * > .vc_row,
    .vc_section > .vc_row,
    .container{
        width: 940px !important;
    }
    header .container{
        width: calc(100% - 40px) !important;
    }
    .vc_section > .vc_row#valores{
        width: 100% !important;
    }
    h1 {
        font-size: 48px;
    }
    #banner-home div#botoes > * > * > * {
        display: flex;
        flex-flow: column;
    }
    #banner-home .vc_btn3-container > *{
        width: 290px !important;
        text-align: center;
    }
    #banner-home .vc_btn3-container.video-btn{
        margin-left: 0 !important;
    }
    #banner-home .vc_btn3-container.video-btn > *{
        background-color: #DCDEE4 !important;
        display: flex !important;
        align-items: center !important;
        background-size: auto calc(100% - 14px) !important;
        background-position: 7px center !important;
        padding-left: 35px !important;
        text-align: center !important;
        justify-content: center !important;
        color: #04144C !important;
        font-size: 14px !important;
        padding: 18px 35px 18px 48px !important;
    }
    #banner-home .wpb_gallery_slides{
        width: 70% !important;
    }
    #banner-home ul.wpb_image_grid_ul li img{
        max-height: calc(100vh - 109px) !important;
    }

    h2{
        font-size: 32px;
    }
    #pulse-section .wpb_text_column{
        top: 50%;
    }
    #pulse-section h2 {
        margin-bottom: 75px !important;
    }
    #parceiro h2 {
        font-size: 28px;
        line-height: 1.6;
    }
    .miolo-site > * > section.vc_section#contato .vc_col-sm-7 {
        width: 50%;
    }
    #contato .vc_row .vc_row .wpb_wrapper {
        flex-direction: column;
    }
    #contato .vc_row .vc_row .wpb_text_column .wpb_wrapper {
        margin: 12px 0 !important;
    }
    footer .col-xs-12 ul.menu {
        font-size: 14px;
    }

    body:not(.home).page-sobre-nos h1{
        font-size: 28px;
        margin: 0 0 50px !important;
    }
    body:not(.home) .miolo-site > * > section.vc_section:first-child {
        padding-top: 160px !important;
    }
    ul.depoimentos blockquote{
        font-size: 20px;
    }
    .page-contato .vc_section > * > *:nth-child(2) > * {
        padding: 0 0 0 40px;
    }
    body:not(.home) h1 {
        font-size: 36px;
    }
    .page-solicite-um-orcamento h3{
        font-size: 26px;
    }
    body.single-servico .font-big{
        font-size: 16px;
    }
    body.single-servico h2{
        font-size: 28px;
    }
    
    body.single-servico .vc_col-sm-10{
        width: 100%;
    }


}





@media(max-width: 991px){

    .miolo-site > * > .vc_row,
    .vc_section > .vc_row,
    .container{
        width: 740px !important;
    }
    header .container{
        width: calc(100% - 20px) !important;
    }
    .vc_section > .vc_row#valores{
        width: 100% !important;
    }
    #banner-home .wpb_gallery_slides {
        width: 50% !important;
    }
    #servicos-row ul.servicos-img{
        display: none;
    }
    ul.servicos{
        width: 100%;
    }
    #servicos-row{
        height: auto;
        margin-top: 100px !important;
    }
    .miolo-site > * > section.vc_section#contato .mulher-rt img{
        height: 600px !important;
    }
    body.single-servico .miolo-site > * > section.vc_section#contato,
    .miolo-site > * > section.vc_section#contato {
        margin-top: 0 !important;
        padding: 60px 0 60px !important;
        min-height: 0 !important;
    }
    body.single-servico section.vc_section#contato:after,
    .miolo-site > * > section.vc_section#contato:before {
        top: 0;
    }
    .miolo-site > * > section.vc_section#contato br{
        display: none;
    }
    footer .col-xs-12{
        flex-flow: column;
    }
    footer .col-xs-12 > *:nth-child(2){
        order: 1;
    }
    footer {
        padding: 30px 0;
    }
    footer .col-xs-12 > *:nth-child(1){
        order: 2;
        margin: 20px 0;
    }
    footer .col-xs-12 > *:nth-child(3){
        order: 3;
    }

    body:not(.home) .miolo-site > * > section.vc_section:first-child .wpb_column .vc_row .wpb_column {
        width: 100%;
    }
    .page-contato h2 br {
        display: none;
    }
    .page-contato h2{
        margin-bottom: 30px !important;
    }
    .vc_section .vc_row + .vc_row.cidade{
        margin-top: 0 !important;
    }
    .page-contato .vc_section > * > *:nth-child(2) > * {
        padding: 0 25px 0 40px;
    }
    .cidade .wpb_gmaps_widget {
        width: 100%;
    }
    .wpb_single_image .vc_figure svg{
        max-width: 100%;
        height: auto;
    }
    .vc_row#valores.owl-carousel{
        background: transparent !important;
    }
    .vc_row#valores.owl-carousel .owl-item * {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 !important;
    }
    .vc_row#valores.owl-carousel .owl-item  svg{
        width: auto !important;
        height: 80px !important;
    }
    .vc_row#valores.owl-carousel .owl-item > *{
    border-left: 1px solid #DFE5E9;

    }
    .vc_row#valores.owl-carousel .owl-item{
        background: #fff;
    }
    #valores h3 {
        margin-top: 15px !important;
    }
    .vc_row#valores.owl-carousel .owl-item .vc_column-inner .vc_column-inner {
        padding: 30px 25px !important;
    }


    .free-img ul.wpb_image_grid_ul li svg circle{
        transform: scale(.5);
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(1) {
        left: 21% !important;
        top: 8% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(2) {
        left: 56% !important;
        top: 1% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(3){
        right: -6% !important;
        top: 0% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(4) {
        top: 26% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(5) {
        top: 72% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(6) {
        top: 70% !important;
        left: 19% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(7) {
        left: 56% !important;
        top: 70% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(8) {
        left: 76% !important;
        top: 71% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(9) {
        top: 59% !important;
        right: -7% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(10) {
        left: 75% !important;
        top: 31% !important;
    }


}





@media(max-width: 767px){

    .miolo-site > * > .vc_row,
    .vc_section > .vc_row,
    .container{
        max-width: 530px !important;
        width: 100% !important;
    }
    header .container{
        width: calc(100% - 20px) !important;
    }
    .miolo-site > * > .vc_row {
        float: left;
        max-width: 100% !important;
    }
    .desktop-img{
        display: none;

    }
    .mobile-img{
        display: block;
    }
    .miolo-site > * > section.vc_section#contato:before,
    .miolo-site > * > section.vc_section#contato .vc_col-sm-5 {
        display: none;
    }
    .miolo-site > * > section.vc_section#contato .vc_col-sm-7{
        width: 100%;
    }
    header .btn{
        display: none;
    }
    header .border{
        flex-flow: row-reverse;
    }
    header nav.main-navigation .menu-toggle span{
        display: none;
    }
    header .border {
        padding: 20px 0;
    }
    header nav.main-navigation .menu-content{
        width: 100%;
    }
    .miolo-site > * > section.vc_section#banner-home {
        padding-top: 89px !important;
        font-size: 18px;
    }
    .miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(1) {
        height: auto;
        padding: 30px 0;
    }
    h4 {
        font-size: 10px;
        margin: 0 0 5px;
    }
    h1{
        font-size: 32px;
    }

    .miolo-site > * > section.vc_section#banner-home{
        height: 750px !important;
        position: relative;
    }
    .miolo-site > * > section.vc_section#banner-home:before{
        height: 690px;
    }
    .miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(2) {
        height: 60px;
    }
    #banner-home .wpb_gallery_slides {
        width: 100% !important;
        height: 320px !important;
        max-width: 500px !important;
        left: 50%;
        transform: translateX(-50%);
    }
    #banner-home ul.wpb_image_grid_ul li{
        height: 320px !important;
        /*
        justify-content: center !important;*/
    }
    #banner-home ul.wpb_image_grid_ul li img{
        max-height: 320px !important;
    }
    #banner-home .wpb_gallery_slides:after {
        height: 60px;
        width: 100vw;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    
    }
    ul.servicos .btn, .vc_btn3-container > * {
        font-size: 14px !important;
    }
    #banner-home .vc_btn3-container > *{
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    #banner-home .vc_btn3-container.video-btn > * {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        background-size: auto calc(100% - 8px) !important;
        background-position: 4px center !important;
    }
    #banner-home .vc_btn3-container.video-btn{
        margin-top: 10px !important;
    }
    h1 {
        margin-bottom: 10px;
    }
    .miolo-site > * > section.vc_section#banner-home > .vc_row:nth-child(2) {
        bottom: 60px;
        padding: 0 15px;
    }
    .scroll h4 em,
    .scroll h4 svg {
        display: none;
    }
    .scroll h4:after{
        content: '';
        width: 12px;
        height: 12px;
        left: 4px;
        top: -5px;
        transform: rotate(45deg);
        background: transparent;
        border: 1px solid #CCCFDD;
        transform: translateY(-100%) rotate(45deg);
        position: absolute;
        border-top: 0;
        border-left: 0;

    }

    .miolo-site > * > section.vc_section {
        padding: 50px 0 !important;
    }
    h2 {
        font-size: 28px;
        line-height: 1.2;
    }
    #porque .vc_col-sm-4 + .vc_col-sm-4 {
        margin-top: 40px;
    }
    .font-big {
        font-size: 16px;
    }
    #servicos h2 {
        margin-bottom: 20px !important;
    }
    #servicos-row{
        margin-top: 50px !important;
    }
    ul.servicos h3 {
        font-size: 26px;
    }
    ul.servicos li {
        margin-top: 25px;
    }
    ul.servicos-img, ul.servicos{
        font-size: 16px;
    }
    ul.servicos li.active h3{
        margin-bottom: 10px;
    }
    #pulse-section h2 {
        margin-bottom: 40px !important;
    }
    #parceiro h2{
        font-size: 22px;
    }
    .miolo-site > * > section.vc_section#pulse-section{
        margin-bottom: -60px !important;
    }
    .miolo-site > * > section.vc_section#parceiro {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
    #parceiro .vc_btn3-container {
        margin-top: 40px !important;
    }
    footer .col-xs-12 {
        flex-flow: column;
        padding: 0 30px;
    }
    footer .col-xs-12 ul.menu {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    footer .col-xs-12 ul.menu li{
        margin: 0;
    }
    footer .col-xs-12 ul.menu li + li{
        margin-top: 40px;
    }
    footer .col-xs-12 > * {
        width: 100%;

    }
    footer .col-xs-12 > *:nth-child(1) {
        margin-top: 40px;
        order: 3;
    }
    footer .col-xs-12 > *:nth-child(3) {
        order: 2;
        width: 100%;
        margin-top: 40px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer .col-xs-12 > *:nth-child(3) .size {
        width: 100px;
        overflow: hidden;
    }
    footer .col-xs-12 > *:nth-child(3) .size:hover{
        width: 160px;
    }
    #contato .vc_separator + .wpb_text_column {
        margin: 30px 0 0 0 !important;
    }
    body.single-servico .miolo-site > * > section.vc_section#contato, .miolo-site > * > section.vc_section#contato {
        padding: 50px 0 40px !important;
    }
    header nav.main-navigation .menu-content .shield{
        display: none;
    }
    header nav.main-navigation .menu-content ul.menu {
        margin: 0;
        width: 100%;
    }
    header nav.main-navigation .menu-content .bottom {
        bottom: 40px;
        padding: 0 60px;
    }
    header nav.main-navigation .menu-content .menu-principal-container {
        height: calc(100vh - 120px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav.main-navigation .menu-content ul.menu a {
        padding: 12px 60px;
        font-size: 22px;
    }
    header nav.main-navigation .menu-content ul.menu li.current-menu-item a:before {
        width: 45px;
    }
    body:not(.home) .miolo-site > * > section.vc_section:first-child {
        padding-top: 130px !important;
    }
    body:not(.home).page-sobre-nos h1{
        font-size: 26px;
        margin: 0 !important;
    }
    body:not(.home).page-sobre-nos .vc_section:nth-child(1) .vc_row .vc_row .vc_col-sm-6 {
        margin-top: 25px;
    } 
    body:not(.home).page-sobre-nos .vc_section:nth-child(1) > .vc_row  > .vc_col-sm-4{
        display: none;
    }
    .miolo-site > * > section.vc_section > #galeria{
        margin-top: 50px !important;
    }
    .font-big2 p {
        font-size: 26px;
    }
    .miolo-site > * > section.vc_section#depoimentos {
        background-size: auto 70% !important;
    }
    ul.depoimentos li {
        padding: 0 5%;
    }
    ul.depoimentos{
        margin-top: 25px;
    }
    body.single-servico .vc_separator {
        margin: 35px 0 !important;
    }
    body.single-servico h2 {
        font-size: 24px;
    }
    body.single-servico .vc_row .wpb_single_image {
        margin: 30px 0 !important;
    }
    body.single-servico section.vc_section#contato:after {
        width: calc(100% - 30px);
        right: 15px;
    }
    form.wpcf7-form {
        margin-top: 40px;
    }
    .page-trabalhe-conosco section.vc_section .img-trabalhe{
        display: none;
    }
    form.wpcf7-form .col{
        width: 100%;
    }
    form.wpcf7-form .col:nth-child(odd){
        margin-left: 0;
    }
    .page-contato .vc_section:before{
        display: none;
    }
    .page-contato .vc_section > * > *:nth-child(2) > * {
        padding: 40px 30px 0;
        margin-bottom: -50px;
    }
    .cidade .wpb_gmaps_widget{
        height: 330px;
    }
    .cidade .wpb_gmaps_widget iframe{
        height: 330px !important;
        width: 100vw !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .free-img ul.wpb_image_grid_ul li svg circle {
        transform: scale(.8);
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(1) {
        top: 22% !important;
        left: -3% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(2) {
        left: 70% !important;
        top: 2% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(10),
    .free-img ul.wpb_image_grid_ul li:nth-child(5),
    .free-img ul.wpb_image_grid_ul li:nth-child(3),
    .free-img ul.wpb_image_grid_ul li:nth-child(4){
        display: none !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(11) {
        display: block !important;
        transform: scale(1.4) !important;
        left: 21% !important;
        top: 2% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(6) {
        top: 74% !important;
        left: -14% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(7) {
        left: 57% !important;
        top: 82% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(8) {
        left: 75% !important;
        top: 65% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(9) {
        top: 68% !important;
        right: auto !important;
        left: 29% !important;
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(11) svg circle {
        transform: scale(1);
    }
    #pulse-section .mobile-img {
        opacity: 0 !important;
    }
    #parceiro .vc_btn3-container {
        width: 100%;
    }
    #parceiro .vc_btn3-container > * {
        width: 100% !important;
        text-align: center !important;
        justify-content: center;
    }
    .miolo-site > * > section.vc_section#contato .vc_btn3-container {
        width: 100%;
    }
    .miolo-site > * > section.vc_section#contato .vc_btn3-container > * {
        text-align: center;
        justify-content: center;
    }
    .wpb_text_column.telefone-info#desktop{
        display: none ;
    }
    .wpb_text_column.telefone-info#mobile{
        display: block;
    }


}
@media(max-width: 500px){
    .free-img ul.wpb_image_grid_ul li svg circle {
        transform: scale(.7);
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(11) {
        transform: scale(1.2) !important;
        left: 20% !important;
        top: 1% !important;
    }
}
@media(max-width: 400px){
    .free-img ul.wpb_image_grid_ul li svg circle {
        transform: scale(.6);
    }
    .free-img ul.wpb_image_grid_ul li:nth-child(11) {
        transform: scale(1) !important;
        left: 17% !important;
        top: 0% !important;
    }
}

@media(max-width: 370px){
    .free-img ul.wpb_image_grid_ul li svg circle {
        transform: scale(.5);
    }

    .page-contato .vc_section > * > *:nth-child(2) > * {
        padding: 40px 15px 0;
        margin-bottom: -50px;
    }
    body:not(.home) h1 {
        font-size: 32px;
    }
    header nav.main-navigation .menu-content ul.menu a {
        padding: 10px 30px;
        font-size: 18px;
        line-height: 1.2;
    }
    header nav.main-navigation .menu-content ul.menu li.current-menu-item a:before {
        width: 20px;
    }
    header nav.main-navigation .menu-content .bottom{
        padding: 0 30px;
    }
    header nav.main-navigation .menu-content ul.redes_sociais{
        margin-bottom: 10px;
    }
    header nav.main-navigation .menu-content .menu-principal-container {
        height: calc(100vh - 110px);
    }

    .free-img ul.wpb_image_grid_ul li:nth-child(11) {
        transform: scale(.9) !important;
        left: 15% !important;
        top: 0% !important;
    }
}







